@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: #000000;
  position: fixed;
  z-index: 10;
  width: 100%;
}

#seta-cima {
  position: fixed;
  top: 70%;
  left: 90%;
  width: 10vh;
  transition: 0.3s;
  cursor: pointer;
  z-index: 9;
}

#seta-cima:hover {
  transform: scale(1.1);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.logo img {
  padding: 20px 0;
  width: 20vh;
}

.navbar {
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
  box-shadow: 0 0 5px #000;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-link {
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s;
}

.nav-link:hover {
  background: rgb(227, 14, 8);
  padding: 10px 40px;
  border-radius: 10px;
  text-shadow: 0 0 0.5em #fff;
  box-shadow: 0 0 10px rgb(227, 14, 8);
}

.pesquisa {
  display: flex;
  width: 100%;
}

.pesquisa input {
  font-size: 1.1rem;
  width: 50vh;
  height: 5vh;
  background: rgb(55, 55, 55);
  border: none;
  border-radius: 10px;
  color: #fff;
  padding-left: 10px;
}

.pesquisa img {
  padding-left: 10px;
  width: 6vh;
  cursor: pointer;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 40px;
  height: 4px;
  margin: 4px auto;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.carrossel {
  padding-top: 14.5vh;
  text-align: center;
  width: 100%;
}

.carrossel h1 {
  background: rgb(227, 14, 8);
  padding: 10px 10px;
  font-size: 2.1rem;
  color: #fff;
  /* text-shadow: 0 0 0.3em #fff; */
}

#carrossel {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#imageCarrossel {
  width: 100%;
  height: 50%;
}

#btnAnt,
#btnProx {
  left: 90%;
  position: absolute;
  cursor: pointer;
  height: 10%;
  transition: 0.3s;
}

#btnProx:hover {
  filter: drop-shadow(0 0 3px #fff);
  transform: scale(1.1);
}

#btnAnt {
  left: 5%;
  transition: 0.3s;
}

#btnAnt:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
}

.produtoDestaque {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 5vh 0;
  display: flex;
}

.produtoDestaque img {
  padding: 20vh 0;
  width: 50%;
  height: 50%;
}

.produtoDestaque div {
  font-weight: bold;
  margin: 20% 10%;
}

.produtoDestaque div h1 {
  font-size: calc(4rem + 1vw);
  font-weight: bold;
  color: rgb(227, 14, 8);
}

.produtoDestaque div p {
  color: #fff;
  font-size: 2rem;
}

.produtoDestaque div button {
  margin-top: 20px;
  padding: 20px 40px;
  background: rgb(227, 14, 8);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.produtoDestaque div button:hover {
  transform: scale(1.1);
  text-shadow: 0 0 0.5em;
  box-shadow: 0 0 10px rgb(227, 14, 8);
}

.produtosGamers {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.produtosGamers h1 {
  color: #fff;
  font-size: 2.5rem;
  background: rgb(227, 14, 8);
  box-shadow: 0 0 20px #000;
  padding: 10px;
}

.prodGroup {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.prodGam {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5vh 2vh;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 30%;
  height: auto;
  border-radius: 30px;
}

.prodGam img {
  width: 39vh;
  height: 39vh;
  padding-bottom: 20px;
}

.frete {
  background: rgb(227, 14, 8);
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}

.prodGam ul {
  padding-top: 20px;
}

.prodGam h1 {
  margin-top: 20px;
  background: none;
  font-size: 1.8rem;
  font-weight: bold;
  box-shadow: none;
}

.prodGam h2 {
  margin-top: 4vh;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.2s;
}

.prodGam h2:hover {
  color: rgb(227, 14, 8);
}

.contato {
  top: 10%;
  position: fixed;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  margin: 0 15%;
  width: 70%;
  height: auto;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.9);
}

.contato form {
  display: flex;
  flex-direction: column;
}

.contato label {
  padding: 20px 0;
  color: #fff;
  font-weight: bold;
  font-size: 2vw;
}

.contato form input {
  padding: 10px;
  width: 50vh;
  height: 5vh;
  margin-bottom: 1rem;
  color: white;
  background: #2e2e2e;
  border: 0.125rem solid transparent;
  border-radius: 30px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.contato form textarea {
  padding: 10px;
  height: 5vh;
  margin-bottom: 1rem;
  color: white;
  background: #2e2e2e;
  border: 0.125rem solid transparent;
  border-radius: 30px;
  transition: border-color 0.3s, box-shadow 0.3s;
  min-height: 12.5rem;
  resize: none;
}

.contato input:hover,
form input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: rgb(227, 14, 8);
  box-shadow: 0 0 0 0.3125rem rgba(45, 45, 45, 0.6);
}

.contato textarea:focus {
  border-color: rgb(227, 14, 8);
}

.contato textarea:hover {
  border-color: rgb(227, 14, 8);
}

.contato form button {
  height: 5vh;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 99px;
  color: white;
  background: rgb(227, 14, 8);
  cursor: pointer;
  transition: 0.3s;
}

.contato button:hover,
.contato button:focus {
  outline: none;
  background: rgb(198, 14, 8);
}

@media (max-width: 768px) {
  #seta-cima {
    top: 85%;
    left: 70%;
  }

  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 12vh;
    gap: 0;
    background-color: #000000;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .nav-link:hover {
    padding: 10px 150px;
  }

  .logo img {
    padding: 20px 0;
    width: 15vh;
  }

  .nav-menu.active {
    left: 0;
  }

  .pesquisa {
    justify-content: right;
    padding-right: 3%;
    padding-bottom: 10px;
  }

  .pesquisa input {
    width: 70%;
  }

  .pesquisa img {
    width: 70%;
  }

  .carrossel {
    padding-top: 10vh;
  }

  .carrossel h1 {
    margin-top: 2.7vh;
    padding: 5px 0;
    font-size: 1.7rem;
  }

  #imageCarrossel {
    width: 100%;
    height: 50%;
  }

  #btnAnt,
  #btnProx {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
  }

  #btnProx {
    left: 83%;
  }

  #btnAnt {
    left: 5%;
  }

  .produtoDestaque {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20vh 0;
  }

  .produtoDestaque img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .produtoDestaque div {
    margin: 0;
    padding: 10vh 10%;
  }

  .produtoDestaque div h1 {
    font-size: 4rem;
  }

  .prodGroup {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 5%;
  }

  .prodGam {
    width: 100%;
    height: 80vh;
    margin: 20px 0;
  }

  .prodGam img {
    padding: 0;
    margin: 0;
    padding: 40px 20px;
    width: 41vh;
    height: 41vh;
    transform: scaleX(-1);
  }

  .contato {
    top: 14vh;
    width: 90%;
    height: auto;
    margin: 0 5%;
    padding: 0px;
  }

  .contato form input,
  textarea,
  button {
    width: 35vh;
    padding: 20px;
    margin: 0;
  }

  .contato form button {
    width: 35vh;
    padding: 0;
    margin: 0;
    margin: 20px 0;
  }

  .contato form label {
    font-size: 1.7rem;
  }
}
