@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: #000000;
  position: fixed;
  z-index: 10;
  width: 100%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.logo img {
  padding: 20px 0;
  width: 20vh;
}

.navbar {
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
  box-shadow: 0 0 5px #000;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-link {
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s;
}

.nav-link:hover {
  background: rgb(227, 14, 8);
  padding: 10px 40px;
  border-radius: 10px;
  text-shadow: 0 0 0.5em #fff;
  box-shadow: 0 0 10px rgb(227, 14, 8);
}

.pesquisa {
  display: flex;
  width: 100%;
}

.pesquisa input {
  font-size: 1.1rem;
  width: 50vh;
  height: 5vh;
  background: #373737;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding-left: 10px;
}

.pesquisa img {
  padding-left: 10px;
  width: 6vh;
  cursor: pointer;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 40px;
  height: 4px;
  margin: 4px auto;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.carrossel {
  padding-top: 14vh;
  text-align: center;
  width: 100%;
}

.carrossel h1 {
  background: rgb(227, 14, 8);
  padding: 30px 10px;
  font-size: 2.1rem;
  color: #fff;
  /* text-shadow: 0 0 0.3em #fff; */
}

#carrossel {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#imageCarrossel {
  width: 100%;
  height: 75vh;
}

#btnAnt,
#btnProx {
  left: 90%;
  position: absolute;
  cursor: pointer;
  height: 10%;
  transition: 0.3s;
}

#btnProx:hover {
  filter: drop-shadow(0 0 3px #fff);
  transform: scale(1.1);
}

#btnAnt {
  left: 5%;
  transition: 0.3s;
}

#btnAnt:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px #fff);
}

@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 12vh;
    gap: 0;
    background-color: #000000;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .nav-link:hover {
    padding: 10px 150px;
  }

  .logo img {
    padding: 20px 0;
    width: 15vh;
  }

  .nav-menu.active {
    left: 0;
  }

  .pesquisa {
    justify-content: right;
    padding-right: 3%;
    padding-bottom: 10px;
  }

  .pesquisa input {
    width: 70%;
  }

  .pesquisa img {
    width: 70%;
  }

  .carrossel {
    padding-top: 12vh;
  }

  .carrossel h1 {
    font-size: 1.9rem;
  }

  #imageCarrossel {
    width: 100%;
    height: 50vh;
  }

  #btnAnt,
  #btnProx {
    position: absolute;
    cursor: pointer;
    height: 60px;
    transition: 0.3s;
  }

  #btnProx {
    left: 80%;
  }

  #btnAnt {
    left: 5%;
  }
}
